
{% extends 'hw/base.html' %}

    {% block content %}

    <h1>ABOUT THIS PAGE</h1>
        
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita a atque quo ullam eveniet voluptatem, quaerat veritatis quod facere architecto eos laboriosam minima dolorum impedit nam, possimus obcaecati sit beatae!
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis totam a, ipsa, fugit rem vel repellendus inventore asperiores ipsam soluta harum illum aliquam tempora, perferendis sint? Alias velit autem sint.
        </p>
    
    {% endblock %}
    
