{% extends 'restaurant/base.html' %}
{% load static %}

{% block content %}

<div class="main-page">

<p> Indian Delights, by chef Veer Agrawal, has been serving authentic flavors since 1893
Our fake chefs prepare every dish with imaginary spices flown in from the mountains of Delhi and the dreamlands of Punjab. 
From creamy curries to crunchy samosas, our menu promises satisfaction you’ll never actually taste. </p>


<div class="image">
   <img src="{% static 'images/' %}restaurantImage.png" alt="image">
</div>

</div>


{% endblock %}