<!-- 
File: show_profile.html  
Author: Veer Agrawal (veer1@bu.edu), 5/31/2025  
Description: Template for displaying the detailed view of a single user profile.
-->

{% extends "mini_fb/base.html" %}

{% block content %}
<p><a href="{% url 'update_profile' object.pk %}">Update Profile</a></p>

<h2>{{ object.firstName }} {{ object.lastName }}</h2>

<img src="{{ object.image_url }}" alt="{{ object.firstName }}'s picture" height="200">

<p><strong>City:</strong> {{ object.city }}</p>
<p><strong>Email:</strong> {{ object.email }}</p>

<hr>

<p><a href="{% url 'create_status' object.pk %}"> New Status Message</a></p>

<h3>Status Messages</h3>

{% for msg in object.get_status_messages %}
    <div class="status-message">
        <p>{{ msg.message }}</p>
        <p class="timestamp">Posted on: {{ msg.timestamp }}</p>

        {% for img in msg.get_images %}
            <img src="{{ img.image_file.url }}" alt="{{ img.caption }}" height="150">
        {% endfor %}
        <a href="{% url 'update_status' msg.pk %}">Update</a> 
        <a href="{% url 'delete_status' msg.pk %}">Delete</a>

    </div>
{% endfor %}


{% endblock %}