{% extends 'quotes/base.html' %}

{% block content %}

<div class="about-box">

    <p>
    Rick and Morty is a cartoon about a crazy scientist named Rick and 
    his nervous grandson Morty. They go on wild adventures through space, 
    time, and different dimensions. The show is full of strange creatures, weird science, 
    and lots of dark humor. It's both funny and sometimes serious, mixing silly jokes with 
    big ideas about life and the universe. Created by Dan Harmon and Justin Roiland, Rick and 
    Morty is known for being smart, weird, and totally unpredictable. <br> <br>
    Veer Agrawal is a student at Boston University, currently enrolled in CS412, full-stack development. 
    Veer is learning web development, design, and building creative projects. 
    </p>

  </div>    
{% endblock %}
